name: Playlist 2 Generator (Pocket)

on:
  schedule:
    - cron: '*/15 * * * *' # Runs every 15 mins
  workflow_dispatch:      # Allows manual click

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Script
        run: python create_pocket_playlist.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add pocket_playlist.m3u
          git diff --staged --quiet || (git commit -m "Update Playlist 2" && git push)
