name: Pocket Playlist Generator

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:
  push:
    paths:
      - 'create_pocket_playlist.py'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run Pocket Script
        run: python create_pocket_playlist.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add pocket_playlist.m3u
          git commit -m "Auto-update Playlist" || echo "No changes to commit"
          # FORCE PUSH to fix your "Rejected" error
          git push -f origin main
